{% section 'product-template' %}

<div class="container">
  <!-- Product Reviews -->
  {% section 'product-reviews' %}
  
  <!-- Related Products -->
  {% section 'related-products' %}
  
  <!-- FAQ -->
  {% section 'product-faq' %}
</div>

{% schema %}
{
  "name": "Product Template",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": "Show variant labels",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "label": "Enable sticky info on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable image zoom",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "variant_selector",
      "name": "Variant selector",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "trust_badge",
      "name": "Trust badge",
      "settings": [
        {
          "type": "image_picker",
          "id": "trust_badge",
          "label": "Trust badge image"
        }
      ]
    },
    {
      "type": "benefits",
      "name": "Benefits",
      "settings": [
        {
          "type": "text",
          "id": "benefit_title",
          "label": "Title",
          "default": "Product Benefits"
        },
        {
          "type": "richtext",
          "id": "benefit_list",
          "label": "Benefits List",
          "default": "<ul><li>Benefit 1</li><li>Benefit 2</li><li>Benefit 3</li></ul>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "title"
      },
      {
        "type": "price"
      },
      {
        "type": "variant_selector"
      },
      {
        "type": "quantity_selector"
      },
      {
        "type": "buy_buttons"
      },
      {
        "type": "description"
      },
      {
        "type": "benefits"
      },
      {
        "type": "trust_badge"
      },
      {
        "type": "share"
      }
    ]
  }
}
{% endschema %}
